# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore 

# Ignore all .meta
**.meta

# Whitelist only /Assets/Synthesis3D/[Editor, Scripts, Scenes]
!/Assets/
/Assets/*
!/Assets/Synthesis3D/
/Assets/Synthesis3D/*
!/Assets/Synthesis3D/Editor
!/Assets/Synthesis3D/Scripts
!/Assets/Synthesis3D/Scenes





